.nav-icon {
  position: absolute;
  margin: 1em;
  width: 40px;
  cursor: pointer;
  z-index: 2;
}

.nav-icon:after,
.nav-icon:before,
.nav-icon div {
  background-color: #fff;
  border-radius: 3px;
  content: "";
  display: block;
  height: 5px;
  margin: 7px 0;
  transition: all 0.2s ease-in-out;
}

.menu-button-open {
  color: aqua !important;
}

.nav-icon-open:before {
  transform: translateY(12px) rotate(135deg);
}

.nav-icon-open:after {
  transform: translateY(-12px) rotate(-135deg);
}

.nav-icon-open div {
  transform: scale(0);
}

.app-menu-button {
  position: absolute;
  color: #fff;
  margin: 50px 0 0 60px;
  transform-origin: 0;
  z-index: 3;
}

.button-simple,
.button-theme {
  animation-name: button-simple;
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
}

.button-theme {
  animation-name: button-theme;
}

.app-menu-button:hover {
  opacity: 0.7;
}

@keyframes button-simple {
  from {
    transform: rotate(35deg);
    opacity: 0;
  }

  to {
    transform: rotate(15deg) translate(0, -10px);
    opacity: 1;
  }
}

@keyframes button-theme {
  from {
    transform: rotate(15deg);
    opacity: 0;
  }

  to {
    transform: rotate(65deg) translate(0, 10px);
    opacity: 1;
  }
}
