:root {
  --image-pc: url("./images/bg-night-pc.svg");
  --image-mobile: url("./images/bg-day-mobile.png"); // +
}

.app-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: var(--image-pc);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.dark-layer {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media only screen and (max-width: 768px) {
  .app-background {
    background-image: var(--image-mobile);
  }
}
